
.show-link {
    text-decoration: none;
}

.show-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    width: 280px;
    height: 380px;
}

.show-image {
    flex: 3;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.show-image > img {
    height: 100%;
}

.show-details {
    flex: 1;
    padding: 1em;
    border-top: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.show-details > .first {
    display: flex;
    flex-direction: row;
}

.show-details > .second {
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.show-date {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.show-date-str {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #1c1c1c;
}

.show-bookmark {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.show-bookmark-button {
    border: transparent;
    background-color: transparent;
}

.show-bookmark:hover {
    cursor: pointer;
}

.show-act {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #1c1c1c;
}

.show-venue {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #6c6c6c;
}