
.show-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    background-color: #eeeeee;
}

.show-link {
    text-decoration: none;
}

.show-image-container {
    width: 300px;
    height: 300px;
}

.show-details {
    padding: 1em;
    border-top: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-details > .first {
    display: flex;
    flex-direction: row;
}

.show-details > .second {
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.show-date-container {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.show-date {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #1c1c1c;
}

.show-bookmark-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.show-bookmark {
    border: transparent;
    background-color: transparent;
}

.show-bookmark:hover {
    cursor: pointer;
}

.show-comedian {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #1c1c1c;
}

.show-venue {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4c4c4c;
}