
/* Header */

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 64px;
    padding: 0.5em 2em 0.5em 2em;
    top: 0;
    gap: 2em;
    z-index: 10;

    background-color: var(--header-bg-primary);
    border-bottom: 1px solid var(--header-border-primary);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
}

/* Banner */

.banner {
    display: flex;
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-family: 'Nosifer', sans-serif;
    color: var(--main-highlight);
}

.banner:hover {
    cursor: pointer;
}

/* Search */

.search-tools {
    display: flex;
    flex: 3;
    flex-direction: row;
    align-items: center;
    margin-left: 4em;
    gap: 16px;
}

#search-input {
    padding: 0 0 0 16px;
    height: 44px;
    max-height: 44px;
    width: 500px;
    max-width: 500px;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    border-radius: 22px;
    border: none;
    background: var(--main-bg-secondary);
    color: var(--header-text-primary);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
}

#search-input::placeholder {
    color: var(--header-text-primary);
    opacity: 1;
}

#search-input:focus {
    outline: 1px solid var(--main-highlight);
    /* border: 1px solid var(--main-highlight); */
}

#location-selector {
    padding: 0 24px 0 24px;
    height: 44px;
    max-height: 44px;
    min-width: 120px;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    background: none;
    border-radius: 22px;
    border: 1px solid var(--header-border-primary);
    color: var(--header-text-primary);
}

#location-selector:hover {
    cursor: pointer;
    border: 1px solid var(--main-highlight);
}

/* Logins */

.logins {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
}

.logins > button:hover {
    cursor: pointer;
}

#login {
    min-height: 32px;
    min-width: 100px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;

    border: none;
    color: var(--header-text-primary);
    background: none;
}

#register {
    min-height: 32px;
    min-width: 120px;
    width: 8em;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;

    border: none;
    border-radius: 2px;
    color: var(--header-text-button);
    background-color: var(--main-highlight);
}
